.about-btn {
    animation-duration: .4s;
}
.skill-btn {
    animation-duration: .8s;
}
.work-btn {
    animation-duration: 1.2s;
}
.project-btn {
    animation-duration: 1.6s;
}
.social-btn {
    animation-duration: 2s;
}
.resume-btn {
    animation-duration: 2.4s;
}

a {
    padding : 20px !important;
    margin: 10px !important;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }