<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="is-fullwidth">
        <a [routerLink]="['about']" class="button is-rounded is-hovered is-warning magictime puffIn about-btn">About</a>
      </div>
      <div class="is-fullwidth">
        <a [routerLink]="['skills']"
          class="button is-rounded is-hovered is-warning magictime puffIn skill-btn">Skills</a>
      </div>
      <div class="is-fullwidth">
        <a [routerLink]="['work']" class="button is-rounded is-hovered is-warning magictime puffIn work-btn">Work
          Experience</a>
      </div>
      <!--
          <div class="is-fullwidth">
              <a [routerLink]="['projects']" class="button is-rounded is-hovered is-warning magictime puffIn project-btn">Projects</a>
          </div>
          -->
      <div class="is-fullwidth">
        <a [routerLink]="['socials']"
          class="button is-rounded is-hovered is-warning magictime puffIn social-btn">Socials</a>
      </div>
      <div class="is-fullwidth">
        <a class="button is-rounded is-hovered is-warning magictime puffIn resume-btn" target="_blank"
          href="../../assets/docs/Resume Roshan Krishnan Thirikkott.pdf">Resume</a>
      </div>
    </div>
  </div>
  <a href="https://bulma.io">
    <img src="https://bulma.io/images/made-with-bulma--semiblack.png" alt="Made with Bulma" width="128" height="24">
  </a>
</section>
