<div class="columns ">
  <div class="column">
    <div class="card has-text-white">
      <div class="card-header">
        <div class="card-header-title is-centered">TATA Consultancy Services</div>
      </div>
      <div class="card-content">
        <div class="columns">
          <div class="column">
            <div class="tag is-medium is-warning">Systems Engineer</div>
          </div>
          <div class="column">
            <div class="tag is-medium"><time datetime="2012-3-1">Jul 2017</time> - <time
                datetime="2016-2-10">Current</time></div>
          </div>
        </div>
        <div class="container has-text-left">
          <ul>
            <li>
              Lead developer in charge of development and L2 support team for
              treasury management project under TCS BaNCS.
            </li>
            <li>
              Change Request Management and Solution Design - Coordinate with
              clients and onsite team to gather and analyze requirements, design
              and develop solutions.
            </li>
            <li>
              Data Warehousing - ALM Data warehousing project to create a data
              warehouse used for reporting purpose - both regulatory and
              non-regulatory. Creation of PL/SQL procedures to provide a view of
              the required data
            </li>
            <li>
              Developed several Bash shell scripts for day end batch processing.
            </li>
            <li>
              Served for 6 months as Database administrator in charge of
              performance monitoring, query tuning, DB maintenance and backups.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card has-text-white">
      <div class="card-header">
        <div class="card-header-title is-centered">CitySoft Consulting</div>
      </div>
      <div class="card-content">
        <div class="columns">
          <div class="column">
            <div class="tag is-medium is-warning">Full Stack Developer</div>
          </div>
          <div class="column">
            <div class="tag is-medium"><time datetime="2012-3-1">Mar 2012</time> - <time datetime="2016-2-10">Feb
                2016</time></div>
          </div>
        </div>
        <div class="container has-text-left">
          <ul>
            <li>
              Head of development for multiple projects with responsibilities
              including requirement analysis, solution design, DB design,
              development and maintenance.
            </li>
            <li>
              Development of timesheet management application distributed as
              SaaS and hosted in AWS. Built the CI/CD pipeline using Jenkins.
              Refactored the existing application to a microservices based
              architecture. Currently overseeing the migration of front-end from
              AngularJS to Angular 7.
            </li>
            <li>
              Designed and developed an order management application, using
              .NET core and Angular 7, for a client, that integrates with their
              e-commerce website.
            </li>
            <li>
              Developed web apps using .NET core and .NET Web API that
              Integrates with Sage 300 ERP Systems using .NET libraries.
            </li>
            <li>
              Developed SPAs using .NET Web API that integrates with Sage CRM
              (using SOAP) and SmartSheet (using webhooks).
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
