.card {
    background: #3a7bd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4695d1, #3a7bd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4695d1, #3a7bd5); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
ul {
    list-style-type: disc;
}
ul li {
    padding: 5px;
}