<div class="columns ">
  <div class="column">
    <div class="card has-text-white magictime puffIn">
      <div class="card-header">
        <div class="card-header-title is-centered has-text-white">TATA Consultancy Services</div>
      </div>
      <div class="card-content">
        <div class="columns">
          <div class="column">
            <div class="tag is-medium is-warning">Systems Engineer</div>
          </div>
          <div class="column">
              <div class="tag is-medium"><time datetime="2012-3-1">Mar 2012</time> - <time datetime="2016-2-10">Feb
                  2016</time></div>
          </div>
        </div>
        <div class="container has-text-left">
          <ul>
            <li>
              Lead developer in charge of development and L2 support team for
              treasury management project under <div class="tag">TCS BaNCS</div>.
            </li>
            <li>
              Change Request Management and Solution Design - Coordinate with
              clients and onsite team to gather and analyze requirements, design
              and develop solutions.
            </li>
            <li>
              Data Warehousing - ALM Data warehousing project to create a data
              warehouse used for reporting purpose - both regulatory and
              non-regulatory. Creation of <div class="tag">PL/SQL</div> procedures to provide a view of
              the required data
            </li>
            <li>
              Developed several <div class="tag">Bash</div> shell scripts for day end batch processing.
            </li>
            <li>
              Served for 6 months as <div class="tag">Database Administrator</div> in charge of
              performance monitoring, query tuning, DB maintenance and backups.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card has-text-white magictime puffIn">
      <div class="card-header">
        <div class="card-header-title is-centered has-text-white">CitySoft Consulting</div>
      </div>
      <div class="card-content">
        <div class="columns">
          <div class="column">
            <div class="tag is-medium is-warning">Full Stack Developer</div>
          </div>
          <div class="column">
              <div class="tag is-medium"><time datetime="2012-3-1">Jul 2017</time> - <time
                datetime="2016-2-10">Current</time></div>
          </div>
        </div>
        <div class="container has-text-left">
          <ul>
            <li>
              Head of development for multiple projects with responsibilities
              including requirement analysis, solution design, DB design,
              development and maintenance.
            </li>
            <li>
              Development of timesheet management application distributed as
              SaaS and hosted in <div class="tag">AWS</div>. Built the <div class="tag">CI/CD</div> pipeline using <div class="tag">Jenkins</div>.
              Refactored the existing application to a <div class="tag">mciroservices</div> based
              architecture. Currently overseeing the migration of front-end from
              <div class="tag">AngularJS</div> to <div class="tag">Angular 7</div>.
            </li>
            <li>
              Designed and developed an order management application, using
              <div class="tag">.NET Core</div> and Angular 7, for a client, that integrates with their
              e-commerce website.
            </li>
            <li>
              Developed web apps using .NET Core and <div class="tag">.NET Web API</div> that
              Integrates with <div class="tag">Sage 300</div> ERP Systems using <div class="tag">.NET</div> libraries.
            </li>
            <li>
              Developed SPAs using .NET Web API that integrates with <div class="tag">Sage CRM</div>
              (using <div class="tag">SOAP</div>) and <div class="tag">Smartsheets</div> (using webhooks).
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
