<div class="container">
  <div class="is-fullwidth">
      <a href="mailto:roshankrishnan7@gmail.com">
          <img src="../../assets/images/gmail.svg" class="magictime puffIn">
        </a>
      <a class="is-fullwidth" href="https://www.linkedin.com/in/roshankrishnanthirikkott/">
        <img src="../../assets/images/linkedin.svg" class="magictime puffIn">
      </a>
      <a href="https://github.com/roshankrishnan7">
        <img src="../../assets/images/github.svg" class="magictime puffIn">
      </a>
      <a href="https://stackoverflow.com/users/7393354/roshan">
        <img src="../../assets/images/stackoverflow.svg" class="magictime puffIn">
      </a>
  </div>
</div>
