<h1 class="title" >{{ title }}</h1>
<h2 >
    <span >
      <p>Hello World!</p>
      <br />
      <span typingAnimation [typeSpeed]="20" [startDelay]="1000" [hideCursorOnComplete]="true">
        I'm a Full Stack Developer
      </span>
    </span>
    <section>
      <div class="container">
        <div class="columns">
          <div class="column shake">
              <span class="shake icon"><img src="../../assets/images/angular.svg"></span>
          </div>
          <div class="column shake">
              <span class="shake icon"><img src="../../assets/images/dotnetcore.svg"></span>
          </div>
        </div>
      </div>
    </section>
</h2>
  
